html {
  /************ Farver **************/
  --green: #656742;
  --yellow: #f7b634;
  --pink: #e2647d;
  --brown: #4f3419;
  --creme: #efeed5;
  /************ Fonte **************/
  --font-inter: "Inter";
  --font-reenie: "Reenie Beanie";
  --font-spray: "Rubik Spray Paint";
}
